{% extends 'blank_layout.html'%}


{% block navbar %}
{% include 'layouts/navbar.html'%}  
{% endblock %}


{% block banner %}
{% include 'layouts/inner_banner.html'%}
{% endblock %}

<!-- About Section -->
{% block about_us%}
{% include 'layouts/about_us.html'%}
{% endblock %}
<!-- /About Section -->


{% block quality %}
    <!-- Why Us Section -->
{% include 'layouts/quality.html'%}
{% endblock %}

{% block contact%}
{% include 'layouts/contact.html'%}
{% endblock %}

{% block footer %}
{% include 'layouts/footer.html'%}
{% endblock %}

{% block sign_up %}
{% include 'layouts/sign_up.html'%}   
{% endblock %}