{% load static %}
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Our Collections</h2>
      <p>Luxury Redefined</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Men's Collections</li>
          <li data-filter=".filter-product">Kid's Collections</li>
          
        </ul><!-- End Portfolio Filters -->

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <img src="{% static 'assests/img/masonry-portfolio/RNS_White.jpg' %}"class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Men's Collections</h4>
              <p>RNS White</p>
              <a href="{% static 'assests/img/masonry-portfolio/RN_White.jpg' %}"title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <img src="{% static 'assests/img/masonry-portfolio/Vneck_white.jpg' %}"class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Mens Collections</h4>
              <p>Vneck White</p>
              <a href="{% static 'assests/img/masonry-portfolio/RNS_White.jpg.jpg' %}"title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <img src="{% static 'assests/img/masonry-portfolio/RN_White.jpg' %}"class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Men's Wear</h4>
              <p>RN White</p>
              <a href="{% static 'assests/img/masonry-portfolio/masonry-portfolio-3.jpg' %}"title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <img src="{% static 'assests/img/masonry-portfolio/O_Neck_White.jpg' %}"class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Men's Collections</h4>
              <p>O-Neck White</p>
              <a href="{% static 'assests/img/masonry-portfolio/masonry-portfolio-4.jpg' %}"title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <img src="{% static 'assests/img/masonry-portfolio/VNeck_Black.jpg' %}"class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Mens Collections</h4>
              <p>V Neck Black</p>
              <a href="{% static 'assests/img/masonry-portfolio/masonry-portfolio-5.jpg' %}"title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <img src="{% static 'assests/img/masonry-portfolio/Half_pant_white.jpg' %}"class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Mens Collections</h4>
              <p>Half Pant White</p>
              <a href="{% static 'assests/img/masonry-portfolio/masonry-portfolio-6.jpg' %}"title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <img src="{% static 'assests/img/masonry-portfolio/K_RN_White.jpg' %}"class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Kids Collections</h4>
              <p> Kids RN White</p>
              <a href="{% static 'assests/img/masonry-portfolio/masonry-portfolio-7.jpg' %}"title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <img src="{% static 'assests/img/masonry-portfolio/K_RNS_White.jpg' %}"class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Kids Collections</h4>
              <p>Kids RNS White</p>
              <a href="{% static 'assests/img/masonry-portfolio/masonry-portfolio-8.jpg' %}"title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <img src="{% static 'assests/img/masonry-portfolio/K_VNeck_White.jpg' %}"class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Kids Collections</h4>
              <p>Kids V_Neck White</p>
              <a href="{% static 'assests/img/masonry-portfolio/masonry-portfolio-9.jpg' %}"title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

        </div><!-- End Portfolio Container -->

      </div>

    </div>

  </section>