
{% load static %}
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About Us</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <p>
            <strong>ORYX</strong> products stay with you for life,the brand has long been synonymous with inner-wear clothing that is closest to people.
            <strong>ORYX</strong> premium men's and kid's inner wear are an epitome of quality and comfort.
          </p>
         
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>
                We focus our energy on the quality of our materials and fabrics and the care with which our collections are made.
                
              </p>          <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>

      </div>

    </div>

  </section>