{% load static %}
<section id="why-us" class="section why-us light-background" data-builder="section">

    <div class="container-fluid">

      <div class="row gy-4">

        <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

          <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
            <h3><strong>QUALITY</strong></h3>
            <p>
              We are proud that we have been able to provide consistent quality in our products.<br> All our
              products are made of 100% combed cotton and processed under strict quality check. 
            </p>
            <p>
                Classic, comforatble , soft , natural and antiallergic are some of the defing characteristics
                of our garments.The stiching quality and finsh are checked for eacg piece during the product
                 development cycle. 
              </p> 
            <p>
                As part of brand <strong>ORYX</strong> ,our focus is to provide products with maximum softness and comfort
                to our customers. 
            </p>
          </div>

          

        </div>

        <div class="col-lg-5 order-1 order-lg-2 why-us-img">
          <img src="{% static 'assests/img/why-us.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
        </div>
      </div>

    </div>

  </section>